page-login {
    .login-title {
        font: 400 30px/36px $primary;
        color: #000;
        margin-top: 115px;
    }

    .login-subtitle {
        font: 300 18px/24px $primary;
        color: #808080;
        margin-bottom: 75px;
    }
}
