page-plp {
    .header-custom-heading {
        font: 500 20px $primary;
        text-align: center;
        color: #fff;
    }

    .header-custom-subheading {
        font: 400 16px $primary;
        text-align: center;
        color: #fff;
    }
}
