page-home {
    ion-slides.special-offer-slider {
        height: 175px;
        border-radius: 5px;
        overflow: hidden;
    }

    .featured {
        margin-top: 40px;
        &-list {
            padding: 0px;
            overflow-x: scroll;
            overflow-y: hidden;
            white-space: nowrap;
            width: auto;

            &-item {
                width: 330px;
                display: inline-block;
                list-style: none;
                margin-right: 15px;

                .product-image {
                    img {
                        width: 100%;
                    }
                }

                .product-detail {
                    &-info {
                        width: 70%;
                        float: left;
                        .name {
                            margin: 0px; 
                            font: 400 20px $primary;
                            color: rgba(#808080, .8);
                        }

                        .location {
                            margin: 0px;
                            font: 400 14px $primary;
                            color: rgba(#808080, .8);
                            margin-top: 5px;
                        }
                    }

                    .price {
                        float: left;
                        width: 30%;
                        text-align: right;
                        &-was {
                            margin: 0px;
                            font: 400 16px $primary;
                            color: #808080;
                            text-decoration: line-through; 
                        }

                        &-now {
                            margin: 0px;
                            font: 500 20px $primary;
                            color: #333;
                            margin-top: 3px;
                        }
                    }
                }

            }
        }
    }

    .location {
        margin-top: 40px;

        &-list {
            padding: 0px;
            overflow-x: scroll;
            overflow-y: hidden;
            white-space: nowrap;
            width: auto;

            &-item {
                width: 157px;
                height: 100px;
                overflow: hidden;
                list-style: none;
                border-radius: 5px;
                display: inline-block;
                margin-right: 15px;
                position: relative;

                .location-detail {
                    position: absolute;
                    bottom: 0px;
                    background: #000;
                    background: linear-gradient(to bottom, rgba(0,0,0,0), rgba(0,0,0,.8)); 
                    width: 100%;
                    color: #fff;
                    padding: 10px;
                    .loc-name {
                        margin: 0px;
                        font: 500 16px $primary;
                    }

                    .loc-deals {
                        margin: 0px;
                        font: 400 12px $primary;
                    }
                }
            }
        }
    }

    .page-title {
        font: 500 24px $primary;
        color: #333;
    }

}
