ion-content {
    background: #f4f4f4 !important;
}
.nav-group {
    padding: 0px;

    &-item {
        list-style: none;
        padding: 0px;
        box-sizing: border-box;
        padding: 20px;
        width: 47.25%;
        height: 130px;
        float: left;
        margin-right: 5%;
        text-align: center;
        margin-bottom: 5%;
        border-radius: 5px;
        background: #fff;

        &:nth-child(even) {
            margin-right: 0px;
        }

        .nav-icon {
            width: 60px;
            height: 60px;
            background: red;
            display: inline-block;
        }

        .nav-title {
          font: 500 18px/0px $primary;
          color: map-get($colors, dark); 
        }
    }
}
