.container {
    padding: 30px;
}

.btn {
    display: block;
    border-radius: 5px;

    &-large {
        width: 100%;
        text-align: center;
        padding: 20px;
        font: 400 16px/18px $primary;
    }

    &-primary {
        background: map-get($colors, primary );
        color: #fff;
    }

    &-light {
        background: #fff;
        color: map-get($colors, dark);
        border: 1px solid map-get($colors, light);
    }

    &-secondary {
        background: map-get($colors, secondary );
        color: #fff;
    }

    &-back {
        background: transparent;
        position: absolute;
        top: 15px;
        left: 15px;

        i {
            font-size: 24px;
        }
    }
}

a {
    color: #337AB7;
    text-decoration: none;
}

.form-temp .item.item-block.item-input.item-label-stacked {

    padding-left: 0px;
}

.form-temp {
    ion-label.label {
        font: 500 16px/26px $primary;
        text-transform: uppercase;
        color: map-get($colors, dark );
    }

    ion-input.input {
        font: 400 16px/26px $primary;
        color: #808080;
    }
    .item-md.item-block .item-inner {
        border-bottom: 1px solid #808080;
    }
}

// header style
ion-header{
    ion-navbar.toolbar {
        padding: 25px 10px;

        &.search-bar {
            padding: 50px 10px 10px 10px;
        }
        
        ion-title {
            background: map-get($colors, primary);
    
            .toolbar-title {
                font: 500 20px $primary;
                color: #fff;
            }
        }

        .bar-button-default {
            color: #fff;
            position: absolute;

            .back-button-text {
                display: none;
            }
        }

        .toolbar-background {
            background: map-get($colors, primary);  
        }

        input.searchbar-input {
            background: #fff !important;
            height: 45px;
        }

        .searchbar-search-icon {
            margin-top: 8px;
        }
    }
}

// titles

.page-title {
    font: 500 24px $primary;
    color: map-get($colors, dark);
}