page-orders {
    .orders-list {
        .orders-container {
            border-radius: 5px;
            border: 1px solid #dcdcdc;
            padding: 10px;

            .orders-content {
                padding: 0px;

                .order-list-item {
                    list-style: none; 
                    font: 500 12px $primary;
                    color: #808080;
                    padding: 5px 0px;
                    
                    strong {
                        font: 500 14px $primary;
                        color: #333;

                        &.active {
                            color: green;
                        }

                        &.inactive {
                            color: map-get($colors, danger);
                        }
                    }
                }
            }

            &:not(:last-child) {
                margin-bottom: 10px;
            }
        }
    }
}
